h5 {font-family: 'Mitr', sans-serif;
    color: #17395C;
}

p {font-family: 'Pridi', serif;

}

.years {
   color: #17395C;
}

.my-name{
text-transform: uppercase;
  font-size: 90px;
}

.my-bg {
 background-image: url("../images/bg.jpg")
 background-repeat: no-repeat;

}

body{
  background-image: url("../images/body.jpg");
  
}

.my-bg1 {
   background-color: #F6F7F0;
}

.my-border {
  border-bottom: solid #0F4267;
}
